*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  margin: 0;
  height: 100%;
  background: linear-gradient(to bottom, #D26B9D,#B793C9, #4E499E);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column; 
    align-items: left;
  }
  
  nav ul li {
    margin: 10px 0; 
  }
}

nav{
  padding: 5px;
  display: flex;
  background: linear-gradient(to left, #D26B9D,#B793C9, #4E499E);
  justify-content: space-between; 
  align-items: center;
}


.navigation-section{
  display: flex;
  padding: 0;
  list-style: none;
  font-size: large;
}

.navigation-items{
  margin: 0 15px;
  padding-bottom: 5px;
}

.navigation-link1{
  background: linear-gradient(90deg, #A2BEDC, #F5F5F5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.navigation-link{
  text-decoration: none;
  color: #042440;
  padding: 10px 15px;
}

.navigation-link:hover{
  color: #a2bedc;
}

img{
  margin: auto;
  width: 300px;
  display: block;
  border-radius: 300px; 
  box-shadow: -17px 14px 40px rgba(4, 36, 64, 0.75);
}

.div-one{
  margin: auto;
  display: flex;
  justify-content: center;
  background: linear-gradient(to left, #D26B9D,#B793C9, #4E499E);
  border-bottom: 1px solid #a2bedc;
}

h4{
   font-family:italianno;
   font-weight: 100;
}

h1{
  font-family:italianno;
   font-weight: 300;
}

.text-my{
  padding-left: 15px;
  align-items: center;
  
}